/* google material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../font/MaterialIcons-Regular.woff2) format('woff2'),
       url(../font/MaterialIcons-Regular.woff) format('woff'),
       url(../font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icon {
  font-family: 'Material Icons';
  display: inline;
  vertical-align: bottom;
  font-size: 25px;
}


/* general */
html, body {
	width: 100%;
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	color: #555;
	font-family: Calibri, Arial;
	overflow-y: scroll;
}

/*introduce main to IE*/
main {
	display: block;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;
	width: 100%;
	height: 50px;
	box-shadow: 0 0 3px gray;
	background-color: #d71400;
	background-image: url(../images/noise.png);
	overflow: hidden;
	cursor: default;
	z-index: 5;
}

h1 {
	position: absolute;
	top: 6px;
	left: 10px;
	font-weight: normal;
	font-size: 1.7em;
	color: white;
	margin: 0;
	transition-duration: .2s;
}

h1:hover {
	transform: translateX(5px);
}

header nav {
	position: absolute;
	top: 8px;
	left: 200px;
	font-size: 0;
}


header nav a {
	font-weight: normal;
	margin: 0 15px;
	font-size: 1.4em;
	color: white;
	text-decoration: none;
	transition-duration: .2s;
	border-bottom: 2px solid rgba(0,0,0,0);
	cursor: pointer;
}

header nav a:hover {
	border-color: #fff;
}

footer {
	width: 100%;
	height: 150px;
	background-color: #555;
	background-image: url(../images/noise.png);
}

/* mainpage */
.mainpage {
	z-index: 4;
	padding-bottom: 150px;
	padding-top: 50px;
	width: 100%;
	min-height: 100%; /*fallback*/
	min-height: calc(100% - 300px);
	overflow-x: hidden;
	background-color: #fff;
}

.mainpage h2 {
	margin: 15px;
	margin-left: 30px;
	font-size: 2em;
}

.newstile {
	margin: 15px;
	width: 360px;
	height: 650px;
	color: #555;
	text-decoration: none;
	box-shadow: 0 0 3px gray;
	background-color: white;
	display: inline-block;
	transition-duration: .2s;
	overflow: hidden;
	background-size: 360px 360px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	white-space: normal;
}

.newstile:last-of-type {
	margin-right: 30px;
}

.newstile img {
	width: 360px;
	height: 360px;
	transition-duration: .2s;
}

.newstile:hover img {
	opacity: 0;
	transform: scale(2);
}

.newstile h3 {
	margin: 5px 5px -5px 8px;
	transition-duration: .2s;
}

.newstile:hover h3 {
	color: #6AA70A;
}

.newstile article {
	margin: 0;
	height: 340px;
	width: 340px;
	padding: 10px;
	text-align: justify;
}

.tilewrapper {
	white-space: nowrap;
	overflow-x: scroll;
	padding: 0 15px;
}

/* subsite */
.subsite {
	min-height: 100%; /*fallback*/
	min-height: calc(100% - 170px);
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
	position: relative;
}

.subsite h2 {
	margin-top: 50px;
	font-size: 2em;
}

.subsite h3 {
	font-size: 1.5em;
	margin: 15px 0 5px 0;
}

.subsite nav {
	width: 100%;
	min-height: 25px;
	box-shadow: 0 0 3px gray;
	margin: 10px 0 30px 0;
	padding: 10px;
}

.subsite article {
	width: 100%;
	box-shadow: 0 0 3px gray;
	padding: 10px;
	background-color: #fff;
	text-align: justify;
}

.subsite article a {
	text-decoration: none;
	color: #6AA70A;
}

.subsite article a:hover {
	text-decoration: underline;
	text-decoration-style: dotted;
}
